body {
    margin: 0;
}

.content {
    margin: 18% 20% 0% 20%;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

.name {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 2em;
    color: #222;
}

.topbar {
    display: flex;
    font-family: Source Sans Pro;
    font-size: 1em;
    width: 100%;
    height: 5em;
    line-height: 5em;
    float: top;
    overflow: hidden;
    top: 0;
    position: fixed;
}

.items {
    margin: 0 2em;
    width: 100%;
    float: right;
    color: #222;
}

.items a {
    text-decoration: none;
    color: inherit;
}

.li {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0 0.5em;
    display: block;
    letter-spacing: 0.05em;
}

.li:hover {
    color: #666;
    transition: color 0.2s ease;
}

.box {
    margin: 0 0.1em;
    display: inline-block;
    height: 2.7em;
    width: 2.7em;
    line-height: 2.7em;
}

.s_label {
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    display: inline-block;
    border-radius: 50%;
    border-color: #222;
    border-style: solid;
    border-width: 0.04em;
    transition: 0.4s ease;
}

.box a {
    text-decoration: none;
    color: inherit;
}

.s_label:hover {
    height: 2.55em;
    width: 2.55em;
    line-height: 2.55em;
    background-color: #222;
    color: #fff;
    transition: 0.2s ease;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 1em;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 528px) {
    .name {
        font-size: .75em;
        margin-top: 3em;
        margin-bottom: 2em;
    }
}